@font-face {
    font-family: "Reconstruct";
    src: url("assets/Reconstruct.ttf");
  }

:root {
    --bg-purple: #684FA3;
    --bg-purple-faded: rgba(104, 79, 163, 0.2);
}

body {
    font-family: "roboto";
    font-size: 16px;
}

.bg-color-purple {
    background-color: var(--bg-purple);
}

.bg-color-purple-faded {
    background-color: var(--bg-purple-faded);
}

body {
    background-color: #1E1E1E;
}

.reconstruct {
    font-family:  "Reconstruct";
    font-size: 20px;
}

h1 {
    font-family: "Reconstruct";
}

.logo {
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.5));
}

.first-background-img {
    background-image: url(https://picsum.photos/1920/1080?random=1);
    background-size: cover;
}

.carousel-indicators {
    position: relative;
    bottom: 10px;
}

.desktop-card {
    background-color: #171F33;
}

.btn-hover:hover {
    background-color: rgba(104, 79, 163, 0.75);
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #ffffff00;
}

.faq-accordion-button:not(.collapsed) {
    background-color: rgba(104, 79, 163, 0.75);
}

footer {
    font-size: 14px;
}

@media (min-width: 1020px) {
    nav {
        top: 10px;
        height: 77px;
        border-radius: 10px;
    }

    .first-section {
        padding-top: 77px;
        height: 50vh;
    }
}

@media (max-width: 1020px) {

    .bottom-nav-margin {
        margin-bottom: 77px;
    }
}