/* General */
html{
    all: unset;
}


/* Font */

@font-face {
    font-family: "Reconstruct";
    src: url("Reconstruct.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

.reconstruct {
    font-family: "Reconstruct", sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Reconstruct", sans-serif;
}

button, .drop-shadow{
    filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
}


/* Variables */

:root {
    --bg-purple: #684FA3;
    --bg-purple-faded: rgba(104, 79, 163, 0.2);
    --bg-color-secondary : #1E1E1E;
    --alert-color : #B51A1A;
}

.bg-color-purple {
    background-color: var(--bg-purple);
}

.bg-color-purple-faded {
    background-color: var(--bg-purple-faded);
}

.bg-color-red {
    background-color: var(--alert-color);
}

.color-purple {
    color: var(--bg-purple);
}

.border-purple {
    border: solid var(--bg-purple) 1px;
}


/* Global Settings */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color-secondary);
}

main {
    min-height: 100vh;
}

.logo {
    width: 50px;
    height: auto;
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.5));
}

.dropdown-menu-icon-desktop {
    height: 25px;
    width: auto;
}

.dropdowfixposition{
    margin-right:-13px !important;
}

/* Buttons */
/* Base */
.lh-buttons {
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 2rem;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}

/* Purple */
.lh-buttons-purple {
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 2rem;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-purple);
}

.lh-buttons-purple:hover {
    background-color: rgba(104, 79, 163, 0.75);
}

.lh-buttons-purple:focus {
    background-color: rgba(104, 79, 163, 0.75);
}

/* Purple Faded */

.lh-buttons-purple-faded {
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 2rem;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-purple-faded);
}

.lh-buttons-purple-faded:hover {
    background-color: rgba(104, 79, 163, 0.5);
}

.lh-buttons-purple-faded:focus {
    background-color: rgba(104, 79, 163, 0.5);
}

/* Red */

.lh-buttons-red {
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 2rem;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--alert-color);
}

.lh-buttons-red:hover {
    background-color: rgba(183, 26, 26, 0.5);
}

.lh-buttons-red:focus {
    background-color: rgba(183, 26, 26, 0.5);
}

/* Legacy */

.btn-hover:hover {
    background-color: rgba(104, 79, 163, 0.75);
}

.btn-hover:focus {
    background-color: rgba(104, 79, 163, 0.75);
}

footer {
    font-size: 14px;
}

.lg-tiny-margin {
    margin: 0 10px;
    width: 100dvw;
}

.profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid black 1px;
}

.input {
    background-color: #F8F0FB;
    color: black;
    border: solid black 1px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
    padding: 4px 6px;
    border-radius: 0.375rem;
}

/* Accordions */


/* header text color to white */

.accordion-button:not(.collapsed) {
    color: #ffffff;
}


/* Remove active blue glow */

.accordion-button:focus {
    box-shadow: none;
}


/* Change arrow color to white */

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


/* Specific Pages Settings */


/* Home Page */

.first-background-img {
    background-image: url(../images/Test.png);
    background-size: cover;
}git status


.carousel-indicators {
    position: relative;
    bottom: 10px;
}

.desktop-card {
    background-color: #171F33;
}

.social-icon-desktop {
    width: 30px;
    height: auto;
}

.divider {
    height: 2px;
    background-color: rgb(255, 255, 255, 0.4);
}


/* Hub */

.hub .nav-tabs .active {
    background-color: var(--bg-purple-faded);
}

.game-tag-color {
    color: #EAA928;
}

/* Hub Chat */

/* Scrollbar */
/* width */
.chat-window::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chat-window::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary);
  border-radius: 10px;
}

/* Chat Window */

.chat-window {
    height: 70vh;
    padding: 16px 12px 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-window p {
    margin: 0;
}

.chat-window article {
    margin-bottom: 5px;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.chat-window .message {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 5px;
}

.chat-window .message:hover {
    background-color: var(--bg-color-secondary);
}

.chat-window .message-body {
    flex-grow: 1;
}

.report {
    visibility: hidden;
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-left: auto;
}

.chat-window .message:hover .report {
    visibility: visible;
}

.chat-window article.disclaimer {
    background-color: var(--alert-color);
    border-radius: 10px;
    padding: 5px 10px;
}

.chat-window .message .message-header {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 1rem;
}

.chat-window .message .card-title {
    font-size: 20px;
    margin: 0;
}


/* Login & Connection */

.login-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.5)), url(../images/man-neon-suit-sits-chair-with-neon-sign-that-says-word-it.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.password-reset {
    border: solid rgba(255, 255, 255, 0) 1px;
}

.password-reset:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: solid white 1px;
}

.password-reset-link {
    color: var(--bg-purple);
    font-weight: 700;
    text-decoration: none;
}

.password-reset-link:hover {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

/* Modal forget mail */
#input-mail-forget{
    background-color: #F8F0FB;
    border: 1px solid #1E1F22;
    color: black;
    border-radius: 5px;
    text-indent: 5px;
}

/* FAQ */


/* header bg color */

.faq-accordion-button:not(.collapsed) {
    background-color: rgba(104, 79, 163, 1);
}

/* account */

.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(104, 79, 163, 1);
    object-fit: cover;
}

/* form upload Avatar */
.label-file {
    cursor: pointer;
    font-weight: bold;
    border: 1px dashed rgba(104, 79, 163, 0.75);
    background-color: #1E1F22;
    display: block;
    font-size: 0.8em;
}

.label-file:hover {
    background-color: rgba(104, 79, 163, 0.75);
}


/* input */
#input-pseudo, #input-mail, .input-inGame{
    width: 60%;
    background-color: #F8F0FB;
    border: 1px solid #1E1F22;
    color: black;
    border-radius: 5px;
    text-indent: 5px;
}

#input-pseudo::placeholder, #input-mail::placeholder, .input-inGame::placeholder{
    color: black;
}

.modal-background{
    background-color: var(--bg-color-secondary);
}


/* Games */

/* block height */
.card-height{
    height: 100%;
}

.box-shadow{
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25)
}



/* Media Query */

@media (min-width: 1020px) {
    /* Global */
    nav {
        top: 10px;
        height: 77px;
        border-radius: 10px;
        box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25)
    }
    /* Home page specific */
    .first-section {
        padding-top: 77px;
        height: 70vh;
    }

    /* label input avatar page account */
    .label-file {
        font-size: 1em;
    }

    .first-section-social {
        padding-top: 77px;
    }

    /* Games.html bloc page margin-top */
    .game-margin-top {
        margin-top: 10%;
    }

}


@media (max-width: 1020px) {
    /* Global */
    .bottom-nav-margin {
        margin-bottom: 77px;
    }
}


/* change default color of Bootstrap accordion */

.accordion-button:not(.collapsed) {
    background-color: var(--bg-purple);
}

.accordion-button {
    background-color: var(--bg-purple);
}


/* change default color of Bootstrap switch  */

.form-switch .form-check-input {
    /* basic color change  */
    border-color: rgba(80, 80, 80, 1);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(80,80,80,1)'/></svg>");
}

.form-switch .form-check-input:focus {
    /* change color checked */
    border-color: rgba(80, 80, 80, 1);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(80,80,80,1)'/></svg>");
}

.form-switch .form-check-input:checked {
    /* change color unchecked */
    background-color: var(--bg-purple);
    border-color: var(--bg-purple);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}


/* Change color of placeholder in a chat between 2 users */

.inputChat .form-control::placeholder {
    color: rgb(168, 168, 168);
}

.dernierAvantInputChat {
    margin-bottom: 55px;
}

.symbol {
    width: 20px;
}